name: Rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y gcc-multilib wget gnupg software-properties-common git libbpf-dev musl-tools
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21 all
        sudo update-alternatives --install /usr/bin/clang clang /usr/lib/llvm-21/bin/clang 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/lib/llvm-21/bin/clang++ 100
        sudo update-alternatives --set clang /usr/lib/llvm-21/bin/clang
        sudo update-alternatives --set clang++ /usr/lib/llvm-21/bin/clang++
        sudo update-alternatives --install /usr/bin/llvm-strip llvm-strip /usr/lib/llvm-21/bin/llvm-strip 100
        sudo update-alternatives --set llvm-strip /usr/lib/llvm-21/bin/llvm-strip
    - name: Install musl target
      run: rustup target add x86_64-unknown-linux-musl
    - name: Build
      run: |
        cargo build --release --target x86_64-unknown-linux-musl
    - name: Upload xdp_loader artifact
      uses: actions/upload-artifact@v4
      with:
        name: xdp_loader
        path: ./target/x86_64-unknown-linux-musl/release/xdp-loader
    - name: Upload bpf object artifact
      uses: actions/upload-artifact@v4
      with:
        name: minecraft_filter.o
        path: ./c/minecraft_filter.o
